body {
    padding: 5rem;
}

/* 신고 이미지 사이즈 */
img {
    width: 1.2rem;
    height: 1.2rem;
    transition: 150ms;
}

img:hover {
    cursor: pointer;
    transform: scale(1.2, 1.2);
}

.container {
    max-width: 768px;
}

label {
    font-size: 20px;
    padding: 10px;
}

/* 게시글 컨테이너 */
.reFresh {
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 5px 5px 30px #D8D8D8;
    padding: 1rem;
}

.reFresh > div {
    font-family: 'Nanum Gothic', sans-serif;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    height: auto;
}

/* 게시글 제목 */
.reFresh div:nth-child(1) {
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 3px #b3b3b3;
    display: inline-block;
}

/* 게시글 작성일 */
.reFresh div:nth-child(2) {
    float: right;
}

/* 게시글 작성자 */
.reFresh div:nth-child(3) {
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    width: 70%;
}

/* 게시글 조회수 */
.reFresh div:nth-child(4) {
    display: inline-block;
    text-align: right;
    float: right;
}

/* 게시글 조회수 */
.reFresh div:nth-child(3) {
    font-size: 18px;
}

/* 게시글 이미지 */
.fileImage img{
    width: 100%;
    height: auto;
}

.fileImage img:hover {
    cursor: default;
    transform: scale(1, 1);
}

/* 댓글 신고 누적 삭제 출력 */
.cautionDelete {
    background: #D2D2D2;
    text-shadow: 2px 2px 3px #A4A4A4;
    border-radius: 5px;
    margin: 0px 20px;
}

.adminDelete {
    background: #D2D2D2;
    text-shadow: 2px 2px 3px #A4A4A4;
    border-radius: 5px;
    margin: 0px 20px;
}

.commentForm {
    margin-top: 3rem;
    background: #ffffff;
    box-shadow: 5px 5px 30px #D8D8D8;
    border-radius: 20px;
    padding: 2rem;
}

h4 {
    margin-bottom: 1rem;
}

.commentForm input {
    width: 80%;
    height: 5rem;
    display: inline-block;
}

.commentForm input[type="button"] {
    font-size: 30px;
    width: 19%;
    height: 5rem;
}

.loginPlease {
    text-align: center;
    background: #dddddd;
    margin : 2rem 0px 2rem 0px;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
}

.writeButton {
    margin: 20px;
}

#commentContainer {
    margin-top: 6rem;
    text-align: center;
}

/* 댓글 컨테이너 */
.reFreshComment {
    box-shadow: 5px 5px 30px #D8D8D8;
    padding: 5px;
    font-size: 16px;
    border-radius: 20px;
    height: auto;
}

/* 내부 댓글 컨테이너 */
.subCommentContainer {
    text-align: left;
    margin: 18px 10px;
    background: #f1f1f1;
    border-radius: 7px;
    padding: 10px;
    transition: 300ms;
}

/* 댓글 닉네임 */
.subCommentContainer div:nth-child(1) {
    font-size: 1.2rem;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 10px;
}

/* 댓글 작성일 */
.subCommentContainer div:nth-child(2) {
    float: right;
}

/* 댓글 신고 */
.subCommentContainer div:nth-child(3) {
    padding: 0px 1rem 0px;
    float: right;
}

/* 모바일 기기 css 지정*/
@media screen and (max-width: 768px) {
    body {
        background: #ffffff;
        padding: 1rem 0rem;
    }

    .reFresh {
        background: #ffffff;
        border-radius: 0px;
        box-shadow: none;
        padding: 0rem;
    }

    .commentForm {
        margin-top: 3rem;
        background: #ffffff;
        border-radius: 20px;
        padding: 20px;
    }

    .commentForm input {
        width: 100%;
        display: inline-block;
    }

    .commentForm input[type="button"] {
        margin-top: 1rem;
        width: 100%;
        font-size: 1rem;
        height: 2rem;
    }

    /* 게시글 제목 */
    .reFresh div:nth-child(1) {
        font-size: 1.2rem;
        font-weight: bold;
        display: inline-block;
    }

    /* 게시글 작성일 */
    .reFresh div:nth-child(2) {
        font-size: 0.8rem;
        float: right;
    }

    /* 게시글 작성자 */
    .reFresh div:nth-child(3) {
        font-weight: bold;
        font-size: 1.1rem;
        display: inline-block;
        width: 70%;
    }

    /* 게시글 조회수 */
    .reFresh div:nth-child(4) {
        font-size: 0.8rem;
        display: inline-block;
        text-align: right;
        float: right;
    }

    /* 내부 댓글 컨테이너 */
    .subCommentContainer {
        text-align: left;
        margin: 18px 10px;
        background: #f1f1f1;
        border-radius: 7px;
        padding: 10px;
        transition: 300ms;
    }

    /* 댓글 닉네임 */
    .subCommentContainer div:nth-child(1) {
        font-size: 1.2rem;
        display: inline-block;
        font-weight: bold;
        margin-bottom: 0px;
    }

    /* 댓글 신고 누적 삭제 출력 */
    .cautionDelete {
        background: #d9d9d9;
        display: inline-block;
        padding: 2px !important;
        margin:0px;
        font-size: 8px;
        text-shadow: 1px 1px 3px #A4A4A4;
        border-radius: 5px;
    }

    .adminDelete {
        background: #d9d9d9;
        display: inline-block;
        padding: 2px !important;
        margin:0px;
        font-size: 8px;
        text-shadow: 1px 1px 3px #A4A4A4;
        border-radius: 5px;
    }
}

