.container {
    margin-top: 8rem;
}

form {
    max-width: 550px;
    margin: 6rem auto 6rem;
    padding: 3rem 2rem 2rem 2rem;
    background: #ffffff;
    border-radius: 30px;
    box-shadow: 5px 5px 30px #bfbfbf;
}

.login {
    float: right;
}

.submit {
    margin-top: 3rem;
}

/* 모바일 기기 css 지정*/
@media screen and (max-width: 768px) {
    body {
        background: #ffffff;
    }

    form {
        max-width : 550px;
        margin: 4rem auto;
        padding: 1rem;
        background: #ffffff;
        border-radius: 0px;
        box-shadow: none;
    }

    .login {
        margin-top: 1rem;
    }

    .cancel {
        margin-top: 1rem;
    }
}